@{
    ViewData["Title"] = "Home Page";
}
@model Manager

<form method="post">
    <label asp-for="PlayerId">Player ID:</label>
    <input asp-for="PlayerId">input here</input>
    <br/>
    <label asp-for="YearId">Year ID:</label>
    <input asp-for="YearId">input here</input>
    <br/>
    <label asp-for="TeamId">Team ID:</label>
    <input asp-for="TeamId">input here</input>
    <br/>
    <button type="submit">Submit</button>
</form>